@font-face {
  font-family: 'segoeui';
  src: url('../fonts/segoe_ui/segoeui.eot');
  src: local('☺'), url('../fonts/segoe_ui/segoeui.woff') format('woff'), url('../fonts/segoe_ui/segoeui.ttf') format('truetype'), url('../fonts/segoe_ui/segoeui.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'segoeui-bold';
  src: url('../fonts/segoe_ui/segoeuib.eot');
  src: local('☺'), url('../fonts/segoe_ui/segoeuib.woff') format('woff'), url('../fonts/segoe_ui/segoeuib.ttf') format('truetype'), url('../fonts/segoe_ui/segoeuib.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'segoeui-italic';
  src: url('../fonts/segoe_ui/segoeuii.eot');
  src: local('☺'), url('../fonts/segoe_ui/segoeuii.woff') format('woff'), url('../fonts/segoe_ui/segoeuii.ttf') format('truetype'), url('../fonts/segoe_ui/segoeuii.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'segoeui-light';
  src: url('../fonts/segoe_ui/segoeuil.eot');
  src: local('☺'), url('../fonts/segoe_ui/segoeuil.woff') format('woff'), url('../fonts/segoe_ui/segoeuil.ttf') format('truetype'), url('../fonts/segoe_ui/segoeuil.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'segoeui-semilight';
  src: url('../fonts/segoe_ui/segoeuisl.eot');
  src: local('☺'), url('../fonts/segoe_ui/segoeuisl.woff') format('woff'), url('../fonts/segoe_ui/segoeuisl.ttf') format('truetype'), url('../fonts/segoe_ui/segoeuisl.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'segoeui-bolditalic';
  src: url('../fonts/segoe_ui/segoeuiz.eot');
  src: local('☺'), url('../fonts/segoe_ui/segoeuiz.woff') format('woff'), url('../fonts/segoe_ui/segoeuiz.ttf') format('truetype'), url('../fonts/segoe_ui/segoeuiz.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'segoeui-semibold';
  src: url('../fonts/segoe_ui/seguisb.eot');
  src: local('☺'), url('../fonts/segoe_ui/seguisb.woff') format('woff'), url('../fonts/segoe_ui/seguisb.ttf') format('truetype'), url('../fonts/segoe_ui/seguisb.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'bod_i';
  src: url('../fonts/bodoni_mt/bod_i.eot?#iefix') format('embedded-opentype'), url('../fonts/bodoni_mt/bod_i.woff') format('woff'), url('../fonts/bodoni_mt/bod_i.ttf') format('truetype'), url('../fonts/bodoni_mt/bod_i.svg#BodoniMT-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rub';
  src: url('../fonts/rouble/rouble-webfont.eot');
  src: local('O'), url('../fonts/rouble/rouble-webfont.svg') format('svg'), url('../fonts/rouble/rouble-webfont.woff') format('woff'), url('../fonts/rouble/rouble-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
